
/* Primero modificamos las propiedadesd de html */
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color:rgb(128, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color:white;

}

/* Modificamos las ID */
.header {
   height: 50px;
   width: 1000px;
   background-color: #1f2937;
   color:white;
   display:flex;
   justify-content: space-around;
   align-items: center;
   border:solid;
   border-top-style:none;
   border-right-style:none;
   border-left-style:none;
   border-bottom-style:dashed;

}

.explanation {
    background-color: #1f2937;
    width:800px;
    height: 100px;
    padding-left:100px;
    padding-right:100px;
    padding-top:100px;
    padding-bottom:25px;

    color:#E5E7EB;
    font-size: 25px;
}
.bold {
    font-weight: 1000;
    color: hsl(345deg 100% 47%);
}

.round-counter {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(204, 199, 199);
    color: rgba(153, 17, 17, 0.781);
    font-size:30px;
}

.weapons {
    background-color:rgb(204, 199, 199);
    display:flex;
    justify-content: center;
    padding:20px;
    gap: 20px;
}

.rock img {
    width: 200px;
    border: solid;
    border-color: aliceblue;
    text-shadow: 0 0 .5rem black;
}
.paper img {
    width: 200px;
    border: solid;
    border-color: aliceblue;
    text-shadow: 0 0 .5rem black;
}
.scissors img {
    width: 200px;
    border: solid;
    border-color: aliceblue;
    text-shadow: 0 0 .5rem black;
}

.selected.rock,
.selected.scissors,
.selected.paper {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}



.fight-button-section {
    background-color:rgb(204, 199, 199);
    
    display:flex;
    justify-content: center;
    height:100px;
}

.punctuation-board {
  display:flex;
  justify-content: center;
  gap: 5px;


}
.footer {
  background-color: #1f2937;
  height:55px;
  padding:10px;
}
.announcement-board {
  display:flex;
  justify-content: center;
 
}
.announcement-text {
  color:rgb(198, 201, 48);
  font-size: 25px;
}
.player-punctuation {
  color:rgb(25, 126, 25);
  font-size: 25px;
}
.computer-punctuation {
  color:rgb(154, 45, 255);
  font-size: 25px;
}
.versus-punctuation {
  color:rgb(116, 255, 255);
  font-size:25px;
}


/* The fancy button code. I've copied it from:
https://www.joshwcomeau.com/animation/3d-button/#our-strategy
*/

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }